body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.form-container {
    width: 400px;
    margin: 50px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.gender {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.gender input {
    width: auto;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
   /* transform: translate(100px,0px)*/
    /*transform:scale(1.2);*/
     /*transform: skew(10deg, 15deg);*/
     transform:rotate(-90deg);
}
